# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Portfolio.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Manas\OneDrive\Documents\Github\Portfolio\.idea\.idea.Portfolio.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
